#float-window-contents-container {
  height: calc(100% - var(--float-window-top-bar-height));
  max-height: calc(var(--float-window-height) - var(--float-window-top-bar-height));
}

#float-window-center {
  max-width: var(--float-window-width);
  max-height: var(--float-window-height);
}

#float-window-top-bar {
  font-size: 30px;
  padding: 20px 30px;
  height: var(--float-window-top-bar-height);
}