.input-container {
  margin: 10px;
}

.generate-values-container {
  margin: 10px;
  border: solid 1px var(--root-color-6);
}

.generate-values-container .gvc-label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.no-resize {
  resize: none;
}

#history-label {
  width: 100%;
  height: var(--history-label-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

#generate-images {
  width: 100%;
  height: calc(100% - var(--history-label-height));
  overflow-y: auto;
}

.history-thumbnail {
  margin: 10px;
}

.img-thumbnail {
  padding: 0;
}

#main-generated-image {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.side-btns {
  width: var(--control-side-bar-width);
  height: var(--control-side-bar-width);
  font-size: 20px;
}

.main-side-btns {
  width: 70px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
}

.top-bar-button {
  width: 80px;
  height: 100%;
}

.top-bar-container {
  height: 100%;
  margin: 0 25px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#control-side-bar-container-top {
  position: absolute;
  top: 0;
}

#control-side-bar-container-bottom {
  position: absolute;
  bottom: 0;
}

.between-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-label {
  font-size: 12px;
  margin-left: 5px;
  color: hsla(0,0%,100%,.7);
  float: left;
}

#model-selector .input-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.loaded-name-label {
  font-size: 12px;
  margin-left: 5px;
  color: hsla(0,0%,100%,.7);
}

.loaded-name-txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 25px;
}