:root {
  --root-color-0: #fff7f7;
  --root-color-1: #241147;
  --root-color-2: #2d1757;
  --root-color-3: #361d66;
  --root-color-4: #432679;
  --root-color-5: #4a2d80;
  --root-color-6: #57388f;

  --top-bar-height: 50px;
  --gen-top-bar-height: 200px;
  --side-bar-width: 140px;
  --gen-side-bar-width: 250px;
  --control-side-bar-width: 50px;
  
  --history-label-height: 50px;

  --notification-width: 320px;
  --notification-padding: 20px 20px;
  --notification-space-between: 10px;
  
  --float-window-width: 1000px;
  --float-window-height: 900px;
  --float-window-top-bar-height: 100px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--root-color-1);
}

option {
  color: #000;
}

button i {
  display: flex;
  justify-content: space-between;
  align-items: center;
}